src/wsdl/10.64.50.8/Admin/AdminEndpoint.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eliot.Net.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Eliot.Net.Model"><xs:complexType name="ArrayOfUser"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User"/></xs:sequence></xs:complexType><xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser"/><xs:complexType name="User"><xs:sequence><xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="User" nillable="true" type="tns:User"/><xs:complexType name="ArrayOfDevice"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device"/></xs:sequence></xs:complexType><xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice"/><xs:complexType name="Device"><xs:sequence><xs:element minOccurs="0" name="DeviceType" type="tns:DeviceType"/><xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Device" nillable="true" type="tns:Device"/><xs:simpleType name="DeviceType"><xs:restriction base="xs:string"><xs:enumeration value="presenceSensor"/><xs:enumeration value="temperatureSensor"/><xs:enumeration value="brightnessSensor"/><xs:enumeration value="atmosphericPressureSensor"/><xs:enumeration value="humiditySensor"/><xs:enumeration value="soudLevelSensor"/><xs:enumeration value="gpsSensor"/><xs:enumeration value="co2Sensor"/><xs:enumeration value="ledDevice"/><xs:enumeration value="beeperDevice"/></xs:restriction></xs:simpleType><xs:element name="DeviceType" nillable="true" type="tns:DeviceType"/></xs:schema>